/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-family: pangolin;
  margin: 0 auto;
  }

h1 {
  text-align: center;
  font-size: 1.75em;
}

section {
  display: inline-block;
  margin: 0px;
}

/* Simple Responsive Framework. */
.row {
  justify-content: center;
  display: inline-block;
  padding: 0px;
  width: 100%;
  }

p {
  font-size: 1.0em;
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  color: #000;
  padding: 35px 10px 10px 10px;
  height: 160px;
  overflow: hidden;  
}

h3 {
  margin: 0px;
  position: relative;
  top: 31px;
  right: -62%;
  width: 33%;
  display: block;
  padding: 2px 30px;
  text-align: center;
  border: 1px solid #000;
  font-size: 1.25em;
}

h3.chicken {
  background-color: #cf8d8d;
}

h3.beef {
  background-color: #b93c3b;
}

h3.sushi {
  background-color: #e1cb8d;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;

  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;

  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-12 p {
    width: 95%;
  }
  .col-md-12 h3 {
    right: -80.66%;
    width: 16.66%;
  }


  br {
    display: none;
  }

}
